<nz-layout>
  <app-header (myOutput)="getCurrentMenu($event)"></app-header>
  <nz-layout>
    <nz-sider nzWidth="200px">
      <ul
        nz-menu
        nzMode="inline"
        class="sider-menu"
        nzTheme="dark"
        *ngFor="let menu of menuList"
      >
        <li
          nz-submenu
          [nzOpen]="menu['selected']"
          nzIcon="user"
          [nzTitle]="menu['operationName']"
        >
          <ul *ngFor="let child of menu['children']">
            <li nz-menu-item [nzSelected]="child['selected']">
              {{ child["operationName"] }}
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <router-outlet></router-outlet>
    </nz-layout>
  </nz-layout>
  <app-footer></app-footer>
</nz-layout>
